map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {
    server_name lect.me;
    listen 80;

    location /uploads {
        alias /project/uploads;
        index index.html;
    }

    location / {
        proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header X-Forwarded-For $remote_addr;
        client_max_body_size 200m;
    }
}