<template name="footer">
	<footer class="page-footer teal">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">{{settings "name"}}</h5>
					<p class="grey-text text-lighten-4">{{settings "name"}} is an interactive learning platform focused on integrating traditional lectures with interesting quizzes to help both build and reinforce knowledge.</p>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Created by <a href="https://swft.co/" target="_blank" class="white-text">Matthew Consterdine</a>
			</div>
		</div>
	</footer>

	<script>
		$(document).ready(function () {
			$('.button-collapse').sideNav({menuWidth: 300});
			$('select').material_select();
		});
	</script>
</template>
