<template name="footer">
	<footer class="page-footer teal">
		<div class="container">
			<div class="row">
				<div class="col l8">
					<h5 class="white-text">{{settings "name"}}</h5>
				</div>
				<div class="col l2">
					<h5 class="white-text"><a href="/page/help" class="white-text">Help</a></h5>
				</div>
				<div class="col l2">
					<h5 class="white-text"><a href="/page/about" class="white-text">About</a></h5>
				</div>
			</div>
			<p class="grey-text text-lighten-4">{{settings "name"}} is an interactive learning platform focused on integrating traditional lectures with interesting quizzes to help both build and reinforce knowledge.</p>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Created by <a href="https://swft.co/" target="_blank" class="white-text">Matthew Consterdine</a>
			</div>
		</div>
	</footer>

	<script>
		$(document).ready(function () {
			$('.button-collapse').sideNav({menuWidth: 300});
			$('select').material_select();
			$('.collapsible').collapsible();
		});
	</script>
</template>
