<template name="header">
	<nav class="white" role="navigation">
		<div class="nav-wrapper{{#if container}} container{{/if}}">
			<a id="logo-container" href="/page/index" class="brand-logo">{{settings "name"}}</a>
			<ul class="right hide-on-med-and-down">
				<li>{{> loginButtons}}</li>
				<li><a href="/page/help">Help</a></li>
				<li><a href="/page/about">About</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li>{{> loginButtons}}</li>
				<li><a href="/page/help">Help</a></li>
				<li><a href="/page/about">About</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse">
				<i class="material-icons">menu</i>
			</a>
		</div>
	</nav>
</template>
